@use "./functions.scss" as *;

#c-main {
  width: 100%;
  height: 100%;
}

.menu {
  position: relative;
  background-color: $neutral;
  color: white;
  padding: rem(16px) rem(8px) 0 rem(8px);
  text-align: center;
}

.menu-controls {
  display: flex;
  flex-direction: column;
  gap: rem(6px);
  align-items: center;
}

.menu-planet {
  button {
    margin-block: rem(2px);
  }
}

.div {
  margin-block: rem(16px);
  width: 100%;
  height: 1px;
  border-radius: 50%;
  background-color: $base;

  &.mb-0 {
    margin-bottom: 0;
  }

  &.mt-0 {
    margin-top: 0;
  }
}

.menu-bottom {
  margin-top: auto;
}

.menu-settings {
  height: rem(70px);
  position: relative;
}

.btn-settings-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $neutral;
  border-radius: rem(8px);
  z-index: 1;
  inset-block: 0;
  inset-inline: 0;
}

.btn-settings:hover {
  cursor: pointer;
}

.menu-settings .settings {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $neutral;
  padding: 8px 4px;
  border-top-right-radius: rem(8px);
  border-bottom-right-radius: rem(8px);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s all ease-out;
  transform: scalexX(0), translateX(0);
  opacity: 0;

  &.is-visible {
    transform: scaleX(1) translateX(calc(100% + 6px));
    opacity: 100;
  }

  > div {
    display: flex;
    align-items: center;
    gap: rem(24px);
    padding-inline: rem(10px);
    border-left: 1px solid #444;
  }
}

.card {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 20;
  background-color: $base;
  transition: 0.3s all ease-out;

  &.is-visible {
    transform: translate(calc(30% + 20px), -50%);
    opacity: 100;
  }
}

.btn-planet {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: rem(8px);
  padding: rem(4px) rem(8px);
  font-size: clamp(1rem, 0.75rem + 0.3vw, 1.2rem);

  &:hover {
    cursor: pointer;
    border-color: white;
  }

  &.is-active {
    border-color: white;
    background-color: lighten($neutral, 15%);

    & label {
      display: inline-grid;

      & > div {
        display: flex;
      }
    }
  }
}

/**
 * scrollbar
 */

* {
  scrollbar-width: thin;
  scrollbar-color: $base $neutral;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #4a453b;
}

*::-webkit-scrollbar-thumb {
  background-color: #32325f;
  border-radius: 20px;
  border: 3px solid #4c4c4c;
}
