:root {
  --primary:  #dea4fc;
  --secondary: #27aa6b;
  --accent : #dd4bea;
  --neutral: #222222;
  --base: #464749;
  --info: #3461cb;
  --success: #78eda5;
  --warning: #f6c451;
  --error: #ee1b4c;
}

$primary: #dea4fc;
$secondary: #27aa6b;
$accent : #dd4bea;
$neutral: #222222;
$base: #464749;
$info: #3461cb;
$success: #78eda5;
$warning: #f6c451;
$error: #ee1b4c;